/*Alterando configurações do Display*/
#display{
    color: darkblue;
    /* Cor do texto */
    font-size: 38px;
    /* Alinhamento do texto */
    text-align: center;
    /* Alinhamento do texto */
    font-family: 'Arial'; 
    /* Tipo de fonte */
    background-color: rgba(128, 128, 128, 0.986); 
    /* Cor de fundo */
    padding: 25px; 
    /* Espaçamento interno */


}

h1{
    font-size: 30px;
    font-family: arial;
    color: darkblue;
    text-align: center;

}